* {
    margin: 0;
    padding: 0;
    border: 0;
}

.navBar>ul {
    display: flex;
    align-items: center;
    /*height: 40px;*/
    gap: 30px;
    justify-content: end;
    margin: 20px 40px 0 0;
 }

ul, li {
    list-style: none;
}

a, span {
    text-decoration: none;
    color: #4f4f4f;
    width: 60px;
    font-family: sans-serif;
}

li:hover {
}

img {
    height: 35px;
    width: auto;
}

/*.navBar__item:nth-last-child(2)>img {*/
/*    height: 5px;*/
/*    width: auto;*/
/*}*/

span {
    display: block;
    /*border: solid 1px blue;*/
}

input {
    position: absolute;
    opacity: 0;
    height: 37px;
    width: 37px;
    cursor: pointer;
}

.dropdownMenu>ul {
    max-height: 0;
    overflow: hidden;
    position: absolute;
}

#input_1:checked ~ .dropdownMenu>ul {
    max-height: 500px; /*   figure out  */
    /*border: solid 1px red;*/
    top: 60px;
    right: 52px;
    gap: 30px;
    margin: 15px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(4, 40px) 15px repeat(2, 40px);
    font-size: 12px;
    text-align: center;
}

#input_1:checked ~ .dropdownMenu>ul>li:nth-child(13) {
    grid-column: span 3;
    background: #9f9f9f;
}

#input_2 {
    height: 20px;
    width: 240px;
    /*border: solid 1px red;*/
}

.dropdownMenu__collapsiblePart {
    max-height: 0;
    display: none;
}

#input_2:checked ~ .dropdownMenu__collapsiblePart {
    max-height: 500px; /*   figure out  */
    /*border: solid 1px green;*/
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(2, 40px);
    /*font-size: 12px;*/
    /*text-align: center;*/
}

.dropdownMenu::-webkit-scrollbar {
    width: 0;
}
